.home{
    flex: 4;
}

.container{
    display: flex;
    margin-top: 10px;
}
.maincontent{
    flex:3
}

.link{
    text-decoration: none;
    color: inherit;
}


.homeWidgets{
    display: flex;
    margin: 20px;
}