.main{
display: flex;
justify-content: space-between;
align-items: center;

}
.main .filter{
    align-self: start;
   flex: 1;
   border-radius: '30px';
   border: solid 3px rgb(73, 0, 128);
   margin-left: 30px;
}
.filter .category{
    display: flex;
    justify-content: space-between;
}
.main .products{
flex: 3;
margin-left: 30px;
}
.products .product{
    display: grid;
    grid-template-columns:auto auto auto auto ;
}
.category img{
    border-radius: 50%;
}
.category i{
    cursor: pointer;
}
.seller{
    box-shadow: 5px gray;
    border-radius: 20px;
    padding: 5px;
    background-color: aliceblue;
}
Button{
    margin:3px;
}
.formone{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}



  .auctionpg{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    left: 50%;
    transform: translate(50%);
  }
  .header{
 border-radius: 20px;
 padding: 10px;
  }