.auction {
    flex: 4;
    padding: 20px;
  }
  
  .auctionTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .auctionAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
  }
  
  .auctionContainer {
    display: flex;
    margin-top: 20px;
  }
  
  .auctionShow {
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }
  
  .auctionUpdate {
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    margin-left: 20px;
  }
  
  .auctionShowTop {
    display: flex;
    align-items: center;
  }
  
  .auctionShowImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .auctionShowTopTitle {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  
  .auctionShowUsername {
    font-weight: 600;
  }
  
  .userShowUserTitle {
    font-weight: 300;
  }
  
  .auctionShowBottom{
      margin-top: 20px;
  }
  
  .auctionShowTitle {
    font-size: 14px;
    font-weight: 600;
    color: rgb(175, 170, 170);
  }
  
  .auctionShowInfo{
      display: flex;
      align-items: center;
      margin: 20px 0px;
      color: #444;
  }
  
  .auctionShowIcon{
      font-size: 16px !important;
  }
  
  .auctionShowInfoTitle{
      margin-left: 10px;
  }
  
  .auctionUpdateTitle{
      font-size: 24px;
      font-weight: 600;
  }
  
  .auctionUpdateForm{
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
  }
  
  .auctionUpdateItem{
      display: flex;
      flex-direction: column;
      margin-top: 10px;
  }
  
  .auctionUpdateItem>label{
      margin-bottom: 5px;
      font-size: 14px;
  }
  
  .auctionUpdateInput{
      border: none;
      width: 250px;
      height: 30px;
      border-bottom: 1px solid gray;
  }
  
  .auctionUpdateRight{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  
  .auctionUpdateUpload{
      display: flex;
      align-items: center;
  }
  
  .auctionUpdateImg{
      width: 100px;
      height: 100px;
      border-radius: 10px;
      object-fit: cover;
      margin-right: 20px;
  }
  
  .auctionUpdateIcon{
      cursor: pointer;
  }
  
  .auctionUpdateButton{
      border-radius: 5px;
      border: none;
      padding: 5px;
      cursor: pointer;
      background-color: darkblue;
      color: white;
      font-weight: 600;
  }